body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f3f3f3;
}

h2 {
    color: #333333;
    font-weight: 700;
}

h2 i {
    margin-right: 5px;
}

.navbar {
    background-color: #333333;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #f4c542;
}

.card-body h5 {
    color: #4a9d8e;
}

.card-text {
    color: #333333;
}

.card {
    transition: box-shadow 0.5s ease-in-out;
}

.card:hover {
    box-shadow: 2px 8px 12px #05445E;
}

footer {
    background-color: #4a9d8e;
    color: white;
}

footer a i{
    font-size: 1.5rem;
    margin-right: 3px;
    opacity: 0.7;
    color: white;
    transition: color 0.5s ease;
}

footer a i:hover {
    color: white;
    opacity: 1;
}
