body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #D4F1F4;
}

h2 {
    color: #05445E;
    font-weight: 700;
}

h2 i {
    margin-right: 5px;
}

.navbar {
    background-color: #189AB4;
}

.nav-link {
    color: #fff;
}

.social-icons a {
    color: #6c757d;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #189AB4;
}

.social-icons i {
    margin-right: 2px;
}

footer {
    background-color: #189AB4;
    color: white;
}

footer a i{
    font-size: 1.5rem;
    margin-right: 3px;
    opacity: 0.7;
    color: white;
    transition: color 0.5s ease;
}

footer a i:hover {
    color: white;
    opacity: 1;
}


