body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f3f3f3;
}

h2 {
    color: #333333;
    font-weight: 700;
}

h3 {
    color: #607d8b;
}

h5 {
    color: #b87333;
    font-weight: 550;
}

h2 i {
    margin-right: 5px;
}

.navbar {
    background-color: #333333;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #f4c542;
}

footer {
    background-color: #4a9d8e;
    color: white;
}

footer a i{
    font-size: 1.5rem;
    margin-right: 3px;
    opacity: 0.7;
    transition: color 0.5s ease;
}

footer a i:hover {
    color: white;
    opacity: 1;
}


